* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #191919;
  color: white;
  font-size: 1.6rem;
}

/* headeer */
header {
  text-transform: uppercase;
  max-width: 33rem;
  margin: auto;
  text-align: center;
}

nav {
  background-color: #cccccc3d;
}
nav ul {
  list-style: none;
}

nav ul li:hover {
  background-color: #191919;
  color: #fff;
  cursor: pointer;
}
nav a {
  text-decoration: none;
  /* color: #ffffff; */
  color: black;
  color: #fff;
  text-transform: uppercase;
}

.icons-redes-nav img {
  width: 1.9rem;
}

/* sessao apresentação */
main {
  max-width: 33rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.apresentacao img {
  border-radius: 50%;
  width: 100%;
}

.titulo-principal {
  text-align: center;
}

/* hardskils */
.mystarks {
  text-align: center;
}

.icons-hardskils img {
  width: 3.8rem;
}

/* sessao projetos */

.projetos {
  margin: auto;
}

.subtitulo-projeto {
  text-align: center;
}

.card {
  margin-bottom: 0.8rem;
  max-width: 30rem;
  border-radius: 0.8rem;
  background-color: #cccccc53;
}

.card img {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}

.links-card {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.links-card img {
  width: 2rem;
}

.card article {
  text-align: center;
  padding: 0.5rem;
}

.card article h3 {
  text-transform: uppercase;
}

.links-card a {
  text-align: center;
  color: white;
  text-decoration: none;
}

.links-card p {
  background-color: #191919;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.8rem;
}

.links-card p:hover {
  background-color: #19191977;
  cursor: pointer;
}
/* footer */
footer {
  text-align: center;
  padding: 1rem;
}
footer img {
  width: 3rem;
}

/* tablet */
@media (min-width: 630px) {
  header {
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  nav {
    display: flex;
    background-color: #191919;
    align-items: center;
  }

  nav ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }

  .icons-redes-nav img {
    width: 2.7rem;
    margin-left: 1rem;
  }

  main {
    max-width: 80rem;
    margin: auto;
  }

  .apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titulo-principal h1 {
    font-size: 2.9rem;
  }

  .box-hardskils {
    margin: auto;
    
  }

  .box-hardskils article {
    font-size: 2.3rem;
  }

  .icons-hardskils {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .icons-hardskils img {
    min-width: 8.8rem;
  }

  .subtitulo-projeto {
    font-size: 2.9rem;
    text-align: center;
  }

  

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.0rem;
  }
  
  footer {
    display: flex;
    justify-content: space-around;
  }
}


/* desktop */
@media (min-width: 1024px){
  header {
    max-width: 100%;
  }

  main {
    max-width: 100%;
  }

  .apresentacao {
    display: flex;
    justify-content: space-around;
  }

  .titulo-principal h1 {
    max-width: 40.0rem;
    font-size: 4.9rem;
  }

  .box-hardskils article {
    font-size: 3.0rem;
  }

  .icons-hardskils {
    display: flex;
    gap: 2.0rem;
  }

  .icons-hardskils img {
    max-width: 6.8rem;
  }

  footer {
    max-width: 100%;
  }
}
